doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sales
  link(rel='stylesheet' href='/public/css/sales.css')
h2 Sales
table
  tr
    th Customer Name
    th Product Type
    th Product Name
    th Quantity
    th Price Per Unit
    th Transport?
    th Total Price
    th Payment Method
    th Sales Agent
    th Date
    else 
      th reciept
  tr
    td Jean Kawa
    td Furniture
    td Bed
    td 1
    td 1000,000 UGX
    td Yes
    td 1000,000 UGX
    td Cash
    td Brian
    td 2025-07-27
    else 
      td
      button.btn.btn-primary.btn-lg(type='button') Recipt

.button-container
  button.btn.btn-secondary.btn-lg(type='button') Record Sale
footer.bg-white.p-4.mt-10.text-center.text-sm.text-gray-400.border-t
  | &copy; 2025 Mayondo. All rights reserved.
