/* Reset some browser defaults */
body, table {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Body style */
body {
  background-color: gainsboro;
  color: #333;
  line-height: 1.6;
}

.button-container {
  display: flex;
  justify-content:space-evenly;
  margin-top: 15px;
}


table {
  display: flex;
  justify-content: center;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 100px;
}

table th{
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
  background: #3498db;
  color: white;
}

table td{
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

table tr:nth-child(even) {
  background: #f4f6f8;
}

/* Footer styling */
footer {
  margin-top: 40px;
  padding: 15px;
  background:  #3c97d3;
  text-align: center;
  font-size: 14px;
  color: white;
  border-top: 1px solid #ddd;
}
