/* Reset some browser defaults */
body, table {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Body style */
body {
  background-color: white;
  color: #333;
  line-height: 1.6;
  
}

table {
  display: block;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  padding: 200px;

}

table thead {
  background: #3498db;
  color: white;
}

table th, table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

table tr:nth-child(even) {
  background: #f4f6f8;
}

.btn{
  grid-column: span 2;
  padding: 12px;
  background-color: rgb(228, 228, 5);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

/* Footer styling */
footer {
  margin-top: 40px;
  padding: 15px;
  background:  #3c97d3;
  text-align: center;
  font-size: 14px;
  color: white;
  border-top: 1px solid #ddd;
}
